<template>
  <section class="au-animate">
    <h2>Prijavite se na sistem</h2>
    <div class="form-group">
      <label for="fn">Korisnicko ime</label>
      <input type="text" class="form-control" id="fn" placeholder="Korisnicko ime">
    </div>
    <div class="form-group">
      <label for="pass">Lozinka</label>
      <input type="password" class="form-control" id="pass" placeholder="Lozinka">
    </div>
    <br/>
    <button type="submit" class="btn btn-info btn-block center-block">Prijavite se</button>
    <hr/>
    <button type="submit" class="btn btn-info btn-block center-block">Registrujte se</button>
    </form>
  </section>
</template>
