<template>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <section class="au-animate">
    <div>
      <div class="col-md-3 ">
        <div class="my-margin">
          <input type="text" placeholder="Naziv restorana" class="form-control">
        </div>
        <div class="my-margin">
          <input type="text" placeholder="Lokacija" class="form-control">
        </div>
        <div class="my-margin">
          <input type="text" placeholder="Kuhinja" class="form-control">
        </div>
        <div class="my-margin">
          <input type="text" placeholder="Ocena" class="form-control">
        </div>
        <div class="my-margin">
          <input type="text" placeholder="Dostava" class="form-control">
        </div>
        <div class="my-margin">
          <button class="btn btn-warning btn-block center-block">Pretrazi</button>
        </div>
      </div>
      <div class="col-md-9" style="padding: 0">
        <div repeat.for="restaurant of restaurants">
          <h1 class="my-margin">${restaurant.name}</h1>
          <div class="flex-row my-margin">
            <button class="btn btn-info" click.trigger="viewDetails(restaurant)">Detaljnije</button>
            <span>
              <span class="small-margin">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </span>
            </span>
            <span>
              <span>
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span> Restoran je super!</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
              </span>
            </span>
            <button class="btn btn-info" click.trigger="leaveComment()">Ostavi utisak</button>

          </div>
          <div class="flex-row my-margin">
            <button class="btn btn-success btn-block center-block" click.trigger="viewMenu(restaurant)">Menu</button>

          </div>
          <hr/>

        </div>

      </div>
    </div>
  </section>
</template>
