<template>
  <ux-dialog>
    <ux-dialog-body>
      <div>
        <div click.trigger="back()"><span class="glyphicon glyphicon-chevron-left"></span>Nazad</div>
        <div class="col-md-8" style="padding: 0">
          <div repeat.for="dish of dishes">
            <div class="flex-row my-margin">
              <h3>${dish.name}</h3>
              <h3>1400.00</h3>
            </div>
            <div class="flex-row my-margin">
              <span>
                <span class="label label-info">Dorucak</span>
                <span class="label label-info">Salata</span>
              </span>
            </div>
            <div class="flex-row my-margin" style="width: 50%">
              <span class="label label-default">#paradajz</span>
              <span class="label label-default">#testo</span>
              <span class="label label-default">#mleko</span>
              <span class="label label-default">#brasno</span>
            </div>
            <div class="flex-row my-margin">
              Tradicionalno italijansko jelo
            </div>
            <div class="flex-row my-margin" style="align-items: center">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <img src="styles/restoran.jpg" alt="Restoran" class="my-margin" style="width: 80%;height: 80%">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
            <div class="flex-row my-margin" style="align-items: center">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span style="padding: 15px"> Komentar o jelu</span>
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
            <div class="flex-row my-margin">
              <button class="btn btn-success btn-block center-block" click.trigger="leaveComment()">Ostavi komentar
              </button>
            </div>
            <div class="flex-row my-margin">
              <button class="btn btn-info btn-block center-block">Naruci</button>
            </div>
            <hr/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="my-margin">
            <div class="checkbox">
              <label><input type="checkbox">Dorucak</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox">Rucak</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox">Vecera</label>
            </div>
          </div>
          <hr/>
          <div class="my-margin">
            <div class="checkbox">
              <label><input type="checkbox" name="optradio">Supa</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="optradio">Predjelo</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="optradio">Glavno jelo</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="optradio">Salata</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="optradio">Dezer</label>
            </div>
          </div>
          <hr/>
          <div class="my-margin">
            <input type="text" placeholder="Sastojci" class="form-control">
          </div>
          <hr/>
          <button class="btn btn-warning btn-block center-block">Pretrazi</button>
        </div>

      </div>
    </ux-dialog-body>
  </ux-dialog>
</template>
