<template>
  <section class="au-animate">
    <h2>Izmeni podatke</h2>
    <div class="form-group">
      <label>Ime</label>
      <input type="text" class="form-control" placeholder="Ime">
    </div>
    <div class="form-group">
      <label>Prezime</label>
      <input type="text" class="form-control" placeholder="Prezime">
    </div>
    <div class="form-group">
      <label>Email adresa</label>
      <input type="text" class="form-control" placeholder="Email adresa">
    </div>
    <div class="form-group">
      <label>Telefon</label>
      <input type="text" class="form-control" placeholder="Telefon">
    </div>
    <div class="form-group">
      <label>Adresa</label>
      <input type="text" class="form-control" placeholder="Adresa">
    </div>
    <br/>
    <button type="submit" class="btn btn-info btn-block center-block">Promeni podatke</button>
    </form>
  </section>
</template>
