<template>
  <section class="au-animate">
    <h2>Registrujte se na sistem</h2>
    <div class="form-group">
      <label>Ime</label>
      <input type="text" class="form-control" placeholder="Ime">
    </div>
    <div class="form-group">
      <label>Prezime</label>
      <input type="text" class="form-control" placeholder="Prezime">
    </div>
    <div class="form-group">
      <label>Email adresa</label>
      <input type="text" class="form-control" placeholder="Email adresa">
    </div>
    <div class="form-group">
      <label>Telefon</label>
      <input type="text" class="form-control" placeholder="Telefon">
    </div>
    <div class="form-group">
      <label>Adresa</label>
      <input type="text" class="form-control" placeholder="Adresa">
    </div>
    <br/>
    <div class="form-group">
      <label>Korisnicko ime</label>
      <input type="text" class="form-control" placeholder="Korisnicko ime">
    </div>
    <div class="form-group">
      <label for="pass">Lozinka</label>
      <input type="password" class="form-control" id="pass" placeholder="Lozinka">
    </div>
    <br/>
    <button type="submit" class="btn btn-info btn-block center-block">Registrujte se</button>
    <hr/>
    <button type="submit" class="btn btn-info btn-block center-block">Prijavite se</button>
    </form>
  </section>
</template>
