<template>
  <ux-dialog>
    <ux-dialog-body>
      <div click.trigger="back()"><span class="glyphicon glyphicon-chevron-left"></span>Nazad</div>
      <div class="my-margin">
        <input type="text" placeholder="Adresa" class="form-control">
      </div>
      <div class="my-margin">
       <span>Nacin placanja</span>
      </div>
      <div class="flex-row my-margin">
        <label class="radio-inline"><input type="radio" value="">Kes</label>
        <label class="radio-inline"><input type="radio" value="">Kartica</label>
      </div>
      <div class="my-margin">
        <input type="text" placeholder="Napomena" class="form-control">
      </div>
      <div class="flex-row my-margin">
        <button class="btn btn-warning center-block btn-block" click.trigger="back()">Naruci</button>
      </div>
    </ux-dialog-body>
  </ux-dialog>
</template>
