<template>
  <div repeat.for="order of orders">
    <div class="flex-row my-margin">
      <span>${order.name}</span>
      <span>Restoran</span>
      <span>Kolicina 2</span>
      <span>140.00</span>
    </div>
    <div class="flex-row my-margin">
      <span>${order.name}</span>
      <span>Restoran</span>
      <span>Kolicina 2</span>
      <span>140.00</span>
    </div>
    <div class="flex-row my-margin">
      <span>${order.name}</span>
      <span>Restoran</span>
      <span>Kolicina 2</span>
      <span>140.00</span>
    </div>
    <hr/>
    <div class="my-margin" style="text-align: center; color:black">
      210.00
    </div>
    <div class="flex-row my-margin">
      <button class="btn btn-warning center-block btn-block" click.trigger="orderNow()">Naruci</button>
    </div>
    <hr/>
  </div>
  <div class="flex-row my-margin">
    <span>${order.name}</span>
    <span>Restoran</span>
    <span>Kolicina 2</span>
    <span>140.00</span>
  </div>
  <div class="flex-row my-margin">
    <span>${order.name}</span>
    <span>Restoran</span>
    <span>Kolicina 2</span>
    <span>140.00</span>
  </div>
  <div class="flex-row my-margin">
    <span>${order.name}</span>
    <span>Restoran</span>
    <span>Kolicina 2</span>
    <span>140.00</span>
  </div>
  <hr/>
  <div class="my-margin" style="text-align: center; color:black">
    210.00
  </div>
  <div class="flex-row my-margin">
    <button class="btn btn-warning center-block btn-block">Naruceno</button>
  </div>
  <hr/>
</template>
