$my-yellow: #eea236;

$yellow: #FFB200;
$yellow-dark: #E6A100;

$green: #009A80;
$green-dark: #006655;
$green-transparent: #80cdc0;

$red: #F24100;
$red-dark: #CC3700;

$blue: #005ACB;
$blue-dark: #004EB0;

$sec-orange: #FF931E;
