<template>
  <section class="au-animate">
    <div class="form-group">
      <div click.trigger="back()" class="back"><span class="glyphicon glyphicon-chevron-left"></span>Nazad</div>
      <h3 for="comment" class="my-margin">Komentar:</h3>
      <textarea class="form-control  my-margin" rows="5" id="comment"></textarea>
      <button class="btn btn-info btn-block center-block my-margin" click.trigger="back()">Ostavi komentar</button>
    </div>
    <hr/>
  </section>
</template>
