<template>

  <ux-dialog>
    <ux-dialog-body>
      <div class="flex-row" style="flex-wrap: wrap">
        <div click.trigger="back()"><span class="glyphicon glyphicon-chevron-left"></span>Nazad</div>
        <div>
          <p>Kontakt:</p>
          <p>0632447659</p>
          <p>restoran@gmail.com</p>
          <p>Radno vreme:</p>
          <p>10-23</p>
          <hr/>
          <p> Opis restorana</p>
        </div>
        <img src="styles/google.png" alt="Map" style="width: 50%;height: 50%">
      </div>
      <hr/>
      <div class="flex-row" style="align-items: center">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <img src="styles/restoran.jpg" alt="Restoran" class="my-margin" style="width: 20%;height: 20%">
        <img src="styles/restoran.jpg" alt="Restoran" class="my-margin">
        <img src="styles/restoran.jpg" alt="Restoran" class="my-margin" style="width: 20%;height: 20%">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    </ux-dialog-body>
  </ux-dialog>

</template>
